<nav>
    <ul>
        <li [routerLink]="['/home']">
            <img width="23"
                src="https://cdn0.iconfinder.com/data/icons/seo-web-4-1/128/Vigor_Home-page-Internet-House-128.png"
                style="margin-right: 4px;">
            <p>Home Page</p>
        </li>
        <li [routerLink]="['/about']">
            <img width="22" src="https://cdn4.iconfinder.com/data/icons/common-toolbar/36/Help-2-128.png"
                style="margin-right: 4px;">
            <p>About</p>
        </li>
        <li [routerLink]="['/albums']">
            <img width="22"
                src="https://cdn2.iconfinder.com/data/icons/unigrid-phantom-multimedia-vol-1/60/020_045_image_painting_photo_picture_gallery_album_4-128.png"
                style="margin-right: 4px;">
            <p>Albums</p>
        </li>
    </ul>
</nav>