.home-container {
    display: flex;
    justify-content: space-between;
    margin-bottom: 50px;
    padding: 0 60px 0 100px;
}

.home-imgs, .home-content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.home-content {
    color: #344b68;
    margin-top: 100px;
}