<app-product-category></app-product-category>

<div class="home-container">
    <div class="home-imgs">
        <img src="https://cdn2.iconfinder.com/data/icons/vivid/48/bag-128.png">
        <img src="https://cdn4.iconfinder.com/data/icons/seo-and-marketing-39/2000/Flat-47-128.png">
        <img src="https://cdn0.iconfinder.com/data/icons/popicon-techno/256/25-128.png">
    </div>

    <div class="home-content">
        <h2 style="margin-bottom: 10px; border-bottom: 1px solid #243142ce;">Welcome to Online Store based on Angular!</h2>
        <h4>Select any category to start</h4>
    </div>
</div>