<div class="top-bar-container">
    <div class="top-bar-imgs">
        <img alt="Amazon" width="100" src="https://cdn3.iconfinder.com/data/icons/payment-icons-2/128/amazon_128.png" routerLink=''>
        <img width="42" src="https://cdn4.iconfinder.com/data/icons/flat-circle-flag/182/circle_flag_kazakhstan-128.png" alt="KZ">
        <img width="42" src="https://cdn0.iconfinder.com/data/icons/asian-countries-landmarks-1/64/Kazakhstan-128.png" alt="Astana">
        <img width="42" src="https://cdn1.iconfinder.com/data/icons/world-maps-1/512/kazakhstan-128.png" alt="">
    </div>
    
    <a target="_blank" href="https://www.amazon.com/ref=nav_logo">
        <img src="https://cdn1.iconfinder.com/data/icons/market-11/128/_cart_basket_shopping_trolley_market_shop-128.png" width="30" alt="Cart">
        <span>Checkout</span>
    </a>
</div>